<div class="container">
	<div>
    <h1>Shopping Cart</h1>
    <hr/>
		<h2>{{product.name}}</h2>
		<img src="{{cloudinaryUrl data.product.image}}" alt="Card image cap">
		<h2>{{{data.product.description}}}</h2>
    <form>
      <label for="quantity">Quantity</label>
      <input name="quantity" />
    </form>
	</div>
</div>