{{!< default}}
<div class="container">
	<div>
    <h1>Shopping Cart</h1>
    <hr/>
		<h2>{{product.name}}</h2>
		<img src={{product.image.secure_url}} alt={{product.name}} />
		<h2>{{{product.description}}}</h2>
    <form>
      <label for="quantity">Quantity</label>
      <input name="quantity" />
    </form>
	</div>
</div>
