{{!< default}}
<div class="container">
	<h1>Thank You {{ name }}</h1>
  <p id="message">Payment Successful</p>
  <p><strong>Total Payment: </strong>${{ total }}</p>
  <p><strong>Estimated Delivery Date: </strong>{{ deliveryDate }}</p>
</div>