.img-product {
  width: 100%;
}

.parsley-required,
.parsley-type {
  color: red;
}

.cart-card{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 25px;
  height: 150px;
}
.cart-card-img-right { 
  width: 150px;
}
.cart-card-body {
  padding-left: 35px;
}
.removeProduct {
  align-self: flex-end;
}
.cart-checkout {
  background: #e7e7e7;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  padding-bottom: 25px;
}
#message {
  margin-top: 20px;
  font-weight: bold;
  color: green;
}
.money {
  padding-right: 10px;
}